@keyframes cursor {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
section.bmi {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.bmi form > div {
  padding: 15px 0;
  border-bottom: 3px groove rgba(255, 255, 255, 0.5);
}
section.bmi form > div > label {
  display: block;
  margin-bottom: 10px;
}
section.bmi form > div input[type=number] {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.bmi form > div input[type=number]:focus {
  background: rgba(255, 255, 255, 0.8);
}
section.bmi form > div input[type=number]::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
section.bmi form > div input[type=number]::placeholder {
  color: inherit;
  opacity: 0.3;
}
section.bmi form > div.radios p {
  position: relative;
  display: flex;
}
section.bmi form > div.radios p input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  opacity: 0;
}
section.bmi form > div.radios p input:checked + label {
  font-weight: 600;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgb(255, 255, 255), -1px -1px 1px rgba(0, 0, 0, 0.1);
}
section.bmi form > div.radios p label {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.bmi form > div.radios p label:first-of-type {
  border-radius: 30px 0 0 30px;
}
section.bmi form > div.radios p label:last-of-type {
  border-radius: 0 30px 30px 0;
}
section.bmi form button {
  width: 100%;
  padding: 10px 0;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}
section.bmi form button:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.bmi form button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.bmi div.bmi-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  transition: left 0.5s;
}
section.bmi div.bmi-result.active {
  left: 0;
}
section.bmi div.bmi-result div.output {
  position: relative;
  height: 75%;
  margin-bottom: 30px;
  background: #FFF;
  border: 1px solid #CCC;
}
section.bmi div.bmi-result div.output.result {
  background: #FFF;
}
section.bmi div.bmi-result div.output.result p {
  font-size: 3em;
  font-weight: 600;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}
section.bmi div.bmi-result div.output.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}
section.bmi div.bmi-result div.output.error p {
  position: relative;
  margin: 20px 0;
  color: #FFF;
}
section.bmi div.bmi-result div.output.error p i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 4em;
}
section.bmi div.bmi-result div.output.error p i:last-child {
  font-size: 9em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.bmi div.bmi-result div.output svg.morph {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
section.bmi div.bmi-result div.output svg.morph .org {
  fill: #8FACCA;
}
section.bmi div.bmi-result div.output figure.board {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
}
section.bmi div.bmi-result div.output figure.board .pin {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 30%;
  transition: transform 1s;
  transform-origin: 95% center;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
section.bmi div.bmi-result button {
  padding: 10px;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.3);
}
section.bmi div.bmi-result button:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.bmi div.bmi-result button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=comp-bmi.css.map */