@keyframes cursor {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
section.dday {
  display: flex;
  flex-direction: column;
}
section.dday div.now {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
section.dday div.now time {
  padding: 4px 7px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
section.dday div.now time b, section.dday div.now time small {
  margin: 0 2px;
}
section.dday div.now time small {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
section.dday div.now time:last-child {
  width: 120px;
}
section.dday article.dday-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
section.dday article.dday-list::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/timer-icon-bg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: overlay;
  opacity: 0.8;
  filter: grayscale(0.8) brightness(70%);
}
section.dday article.dday-list > ul {
  flex: 1 0 1px;
  margin: 15px 0;
  overflow: auto;
}
section.dday article.dday-list > ul > li {
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
  border-bottom: 2px groove rgba(255, 255, 255, 0.5);
}
section.dday article.dday-list > ul > li.active {
  background: rgba(255, 0, 0, 0.3);
}
section.dday article.dday-list > ul > li.deactive {
  background: rgba(0, 0, 0, 0.3);
}
section.dday article.dday-list > ul > li div.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}
section.dday article.dday-list > ul > li div.meta h3 {
  max-width: 60%;
  font-weight: 600;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.dday article.dday-list > ul > li div.meta p time {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
section.dday article.dday-list > ul > li div.meta p time small, section.dday article.dday-list > ul > li div.meta p time em {
  margin: 0 2px;
}
section.dday article.dday-list > ul > li div.meta p time small {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
section.dday article.dday-list > ul > li > ul.timer-output {
  display: flex;
  margin-top: 10px;
}
section.dday article.dday-list > ul > li > ul.timer-output > li {
  flex: 1;
  padding: 5px;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure {
  margin-bottom: 10px;
  position: relative;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg {
  width: 100%;
  transform: rotate(-90deg);
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle {
  fill: none;
  stroke: rgba(255, 255, 255, 0.7);
  transition: stroke-dashoffset, 0.3s;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle:nth-child(1) {
  stroke-width: 1;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle:nth-child(2) {
  stroke: white;
  stroke-width: 6;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 900;
}
section.dday article.dday-list > ul > li > ul.timer-output > li p {
  text-align: center;
  font-size: 0.8em;
}
section.dday article.dday-list > ul > li > ul.timer-output > li p em {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
section.dday article.dday-list .no-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
section.dday .filter-btn {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: all 0.2s;
}
section.dday .filter-btn:hover {
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.5);
}
section.dday .filter-btn:hover i {
  transform: scale(1.2);
}
section.dday .filter-btn:active {
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
}
section.dday .filter-btn i {
  transition: transform 0.5s;
}
section.dday .filter-btn i:last-child {
  display: none;
}
section.dday .filter-btn.active i:first-child {
  display: none;
}
section.dday .filter-btn.active i:last-child {
  display: block;
  transform: scale(1.2);
}
section.dday .filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-100%);
  transition: transform 1s;
}
section.dday .filter-form.active {
  transform: translateY(0);
}
section.dday .filter-form fieldset {
  padding: 10px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
section.dday .filter-form fieldset legend {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  color: #FFF;
  border-radius: 5px;
}
section.dday .filter-form fieldset button {
  width: 100%;
  padding: 10px 0;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday .filter-form fieldset button:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.dday .filter-form fieldset button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday .filter-form fieldset input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday .filter-form fieldset input:focus {
  background: rgba(255, 255, 255, 0.4);
}
section.dday .filter-form fieldset input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
section.dday .filter-form fieldset input::placeholder {
  color: inherit;
  opacity: 0.5;
}
section.dday .btn-add {
  width: 100%;
  padding: 10px 0;
  outline: none;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday .btn-add:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.dday .btn-add:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday .btn-add img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  vertical-align: middle;
  mix-blend-mode: overlay;
  filter: grayscale(1) brightness(80%);
}
section.dday form.dday-add {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
section.dday form.dday-add p {
  padding: 15px 0;
  border-top: 2px groove rgba(255, 255, 255, 0.5);
}
section.dday form.dday-add p label {
  display: block;
  margin-bottom: 10px;
}
section.dday form.dday-add p input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add p input:focus {
  background: rgba(255, 255, 255, 0.8);
}
section.dday form.dday-add p input::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
section.dday form.dday-add p input::placeholder {
  color: inherit;
  opacity: 0.3;
}
section.dday form.dday-add p input::-webkit-calendar-picker-indicator {
  filter: invert(10%);
  mix-blend-mode: color-burn;
}
section.dday form.dday-add button {
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  outline: none;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add button:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.dday form.dday-add button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add i.fa-chevron-left {
  display: block;
  cursor: pointer;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 20px;
  transition: transform 0.2s;
}
section.dday form.dday-add i.fa-chevron-left:active {
  transform: scale(1.2);
}/*# sourceMappingURL=comp-dday.css.map */