body {
  color: var(--deepblue);
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

:root {
  --sky:#8ed1f1;
  --deepblue:#4378a3;
}

body {
  height: 100vh;
  background: var(--sky);
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/weather-icos.gif);
  background-size: 1000px;
  opacity: 0.5;
  animation: bg 6000s linear infinite;
}
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500000px -500000px;
  }
}

h1 {
  perspective: 700px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: min(50%, 200px);
  transform: translate(-50%, -60%);
}
h1 img {
  width: 100%;
  opacity: 0.7;
  animation: rotate 8s infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

#root {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -48%);
  box-sizing: border-box;
  padding: 5px;
  width: min(95%, 1100px);
  height: min(90%, 800px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  animation: shining 1s linear infinite alternate;
}
@keyframes shining {
  0% {
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
  }
}
@media screen and (min-width: 900px) {
  #root {
    min-height: 760px;
  }
}
#root .app-inner {
  position: relative;
  height: 100%;
}
#root .app-inner section {
  box-sizing: border-box;
}
#root .app-inner section .section-inner {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  min-height: 300px;
  border-radius: 10px;
}
#root .app-inner section .section-inner .preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--sky);
  border-radius: 10px;
}
#root .app-inner section .section-inner h2 {
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFF;
  background: var(--deepblue);
  border-radius: 5px;
}
@media screen and (min-width: 900px) {
  #root .app-inner {
    display: flex;
    flex-wrap: wrap;
  }
  #root .app-inner section {
    height: 50%;
    width: 50%;
  }
  #root .app-inner section .section-inner {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  #root .app-inner section .section-inner h2 {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 900px) {
  #root .app-inner {
    overflow: hidden;
    overflow-y: auto;
  }
  #root .app-inner section {
    margin: 15px 0;
  }
  #root .app-inner section .section-inner {
    overflow: auto;
  }
}

@media (hover: hover) {
  .app-inner::-webkit-scrollbar-track, .section-inner::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .app-inner::-webkit-scrollbar, .section-inner::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
  }
  .app-inner::-webkit-scrollbar-thumb, .section-inner::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: var(--sky);
  }
}

.loader {
  width: 175px;
  height: 80px;
  display: block;
  margin: auto;
  background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  transform: scale(0.7);
}

.loader::after {
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-color: var(--deepblue) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */