.float_container::after{
  content: "";
  display: block;
  clear: both;
}

.float_container li a figure{
  position: relative;
  overflow: hidden;
}

.float_container li a figure:hover img{
  filter: blur(3px);
}

.float_container li a figure img {
  width: 100%;
  transition: filter 1s;
}

.float_container li a figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1000;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
  background: rgba(0,0,0,.7);
}

.float_container li a figure figcaption h3{
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.1em;
}

@media screen and (min-width:1200px) {
  /* .float_container li * {display: none;} */

  .float_container li{
    position: relative;
    float: right;
    width: 33.33%;
  }

  .float_container li::before{
    content: "";
    display: block;
  }

  .float_container li:nth-of-type(8),
  .float_container li:nth-of-type(6){
    float: left;
  }

  .float_container li.box::before{
    padding-top: 100%;
  }

  .float_container li.long_box::before{
    padding-top: 200%;
  }

  .float_container li.wide_box{
    width: 66.66%;
  }

  .float_container li.wide_box::before{
    padding-top: 50%;
  }

  .float_container li a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
  }

  .float_container li a figure {
    height: 100%;
  }

  .float_container li a figure img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}

@media screen and (max-width:1200px) {
  .float_container li{
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .float_container li a {
    display: block;
    padding: 5px;
    background: #EEE;
    border: 1px solid #CCC;
    box-shadow: 0 0 13px rgba(0,0,0,.6)
  }
  
}

@media screen and (min-width:600px) and (max-width:1200px) {
  .float_container li{
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .float_container li{
    width: 100%;
  }
}

/* motion */