.youtube_wrap{
  position: relative;
  padding: 10px;
  background: var(--main-color);
  border: 1px solid var(--sub-color);
}

.youtube_wrap::before{
  content: '';
  display: block;
  padding-top: 56.25%;
}

.youtube_wrap iframe {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.videos_list{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videos_list li {
  padding: 5px;
}

.videos_list li button{
  overflow: hidden;
  border: 5px solid var(--main-color);
}

.videos_list li button img{
  transform: scale(1.35);
  filter: brightness(.5);
  transition: all .3s;
}

.videos_list li button:hover img,
.videos_list li button.active img {
  filter: brightness(1);
  transform: scale(1.5);
}