@use 'mixin' as m;
.section3{
  position: relative;
  overflow: hidden;
  height: calc(100vh - var(--header-height)) ;
  .bg{
    height: 100%;
    background-image: url(../img/section3/seciton3_bg.jpg);
    background-size: cover;
    background-position: center;
  }
  .gooey{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: url(#goo);
    div{
      position: absolute;
      @include m.square;
      border-radius: 50%;
      background: radial-gradient(at 20% 15%, #fff, #00f);
      animation-name: bubble;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .section3-text{
    pointer-events: none;
    @include m.posLT(absolute,50%,50%,-50%,-50%);
    width:min(90%,900px);
  }
}